div {
    margin: 100px auto;
    width: 500px;
    height: 300px;
    background: center url(https://media-exp1.licdn.com/dms/image/C4E0BAQGKxS8HyLddeg/company-logo_200_200/0/1542117375063?e=2147483647&v=beta&t=JVMNlcY_i-xEyukLQCVqv0hGMXeNMI89ZGGaxeACCVY) no-repeat;
    box-shadow: -50px -50px 20px red, 50px 50px 20px blue, inset 50px -50px 10px green, inset -50px 50px 10px black;
}
