ul {
    list-style-type: none;
}
li {
    cursor: pointer;
}
li:nth-child(2) {
    position: relative;
}
.sublist{
    display: none;
}
li:nth-child(2):hover .sublist{
    position: absolute;
    display: block;
    background-color: red;
    top: 0;
    left: 0;
}

