nav ul li a {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 1.5rem;
    text-decoration: none;
}

div {
    border: 2px solid black;
    width: 10%;
    height: 20px;
}

div:nth-child(odd) {
    float: left;
}

div:nth-child(even) {
    float: right;
}